<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OLL.Properties.Settings>
            <setting name="clientSecret" serializeAs="String">
                <value>GET YOU'RE KEY AT https://discord.gg/KDQf3xdjMF</value>
            </setting>
            <setting name="osupath" serializeAs="String">
                <value />
            </setting>
            <setting name="showonstart" serializeAs="String">
                <value>Votes</value>
            </setting>
        </OLL.Properties.Settings>
    </userSettings>
</configuration>